body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #BBBBBB;
    padding: 20px 0;
}


.caja{
    height: 100%;
    width: 80%;
    position: relative;
    margin: 0 auto;
}


nav{
    position: absolute;
    top: 110px;
    right: 0%;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.certificados{
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
.certificados #c1{
    width: 50%;   
}
.certificados #c1:hover{
    width: 100%;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2); /* Escala la imagen al 120% */
    cursor: pointer; /*cambiar cursor*/
}
.certificados li{
    display: inline-block;
    text-align: center;
    width: 45%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px ;
}
.certificados li:hover{
    border-color:  #c78c19;
   
}

.certificados li:active{
    width: 100%;
    border-color: #088c19;
}
.certificados h2{
    font-size: 30px;
    font-weight: bold;
}
.certificados li:hover h2{
    font-size: 33px;
}

.certificados-Descripcion{
    font-size: 18px;
}

.Producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: #cccccc;
    background-image: url(imagenes/bg.jpg);
    padding: 40px;
}

footer img{
    width: 30%;
    padding: 0%;

}
.copyringth{
    color: #BBBBBB;
    font-size: 13px;
    margin: 20px;
}
.autor{
    color: #BBBBBB;
    font-size: 15px;
    margin: 20px;
}
.autor:hover{
    font-size: 50px;
    align-items: center;

}

form{
    margin: 40px;

}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;

}
.checkbox{
    margin: 20px 0;

}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}
table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid #000000;
    padding: 8px 15px;


}
/*CSS para nuestra home*/

/*.banner{
    width: 100%;
}*/

#miFoto img {
    width: 25%;
    height: auto;
}

.principal{
    padding: 3em 0;
    background: #FEFEFE;
    width: 80%;
    margin: 0 auto;
}
.titulo-principal{
    font-size: 2EM;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 2px 2px 10px #000000;
    display: block;
    margin-left: 0;
}
.titulo-principal2{
    text-align:center;
    font-size: 3em;
    margin: 0 0 0em;
    clear: left;
    text-shadow: 2px 2px 10px #000000;
    display: block;
    margin-left: 0;
}
.principal p{
    margin: 0 0 1em;
    font-size: 20px;
}
.principal strong{
    font-weight: bold;
}

.principal em {
    font-style: italic;
}


.degradado{
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}
.diferenciales {
    padding: 20px;
    background-color: #f9f9f9;
}

h3 {
    text-align: center;
}

.contenido-diferenciales {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.lista-diferenciales, .contenido-foda {
    flex: 1;
    margin-right: 10px;
}

.lista-diferenciales li {
    margin-bottom: 5px;
}

.imagen-Diferenciales {
    max-width: 100%;
    height: auto;
}



.diferenciales{
    padding: 3em 0;
    background: #888888;

}

.foda {
    margin-top: 20px;
    align-items: center;
}
h3{
    text-align: center;
}
.tabla-foda {
    width: 90%;
    border-collapse: collapse;
    
}

.tabla-foda th, .tabla-foda td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

.tabla-foda th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

.tabla-foda ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.tabla-foda ul li {
    margin-bottom: 5px;
}

.estrategias {
    margin-top: 20px;
}

.estrategias h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.estrategias ul {
    list-style-type: none;
    padding-left: 0;
}

.estrategias ul li {
    background: #e6e6e6;
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
@media screen and (max-width:480px){
    h1{
        text-align: center;

    }
    nav{
        position: static;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;    
    }
    .lista-diferenciales, .imagen-Diferenciales{
        width: 100%;
    }
}